
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #252527;
}

#menu{
    background-color: #3f3f41;
}

#menu ul {
    margin-left: 20%;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    padding: 20px;
    display: inline-block;
    justify-content: flex-end;
    align-content:flex-end;
    text-decoration: none;
    transition: background .4s;
    display: inline-block;
}

#menu ul li a:hover {
    background-color: #188be9;
}


.logo{
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
}


.part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 200px;
}

.div1 {
    width: 620px;
    display: inline-block;
    margin-top: -45px;
}


.titulo1,.texto1,.texto2,.botao,h2 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
    margin-left: 10%;
    
}
.titulo1 {
    color: rgb(24, 139, 233);
    font-size: 50px;
    text-align:left;
    letter-spacing: -3px;
    font-family: "Open Sans",sans-serif;
}

.texto1 {
    margin-top: 20px;
    font-size: 30px;
    text-align:left;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    
}

.botao1 {
    font-size: 32px;
    margin-left: 29%;
    margin-top: 80px;
    background-color: rgb(24, 139, 233);
    color: #FFF;
    padding: 18px;
    border-radius: 35px;
    display: inline-block;
    text-decoration: none;
}

.botao1:hover {
    background-color: rgb(114, 176, 228);
    color: #000000;
    
}



#img1 {
    width: 90%;
    /* margin-left: 2%; */
}


.part2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.div2 {
    width: 800px;
    
}

.subt {
    color: rgb(24, 139, 233);
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: -.07em;
    font-family: "Open Sans",sans-serif;
    
}

.texto2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align:justify;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
}

.botoes{
    margin-bottom: 200px;
}

.botao2 {
    width: 78%;
    font-size: 28px;
    margin-top: 30px;
    margin-left: 15%;
    background-color: rgb(24, 139, 233);
    color: #FFF;
    text-align: center;
    padding: 18px;
    border-radius: 35px;
    text-decoration: none;
    transition: background .4s;
    display: inline-block;
    
}

.botao2:hover {
    background-color: rgb(114, 176, 228);
    color: #000000;
}

footer {
    background-color: rgb(24, 139, 233);
}


.grupo {
    color: #FFF;
    margin: 50px;
    margin-top: 20px;
    font-size: 30px;
    text-align:left;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
}

 /* Extra small devices (phones, 600px and down) */@media (max-width: 600px) {


 }

 /* Small devices (portrait tablets and large phones, 600px and up) */@media (min-width: 600px) {

 }
 /* Medium devices (landscape tablets, 768px and up) */@media (min-width: 768px) {

 }
 /* Large devices (laptops/desktops, 992px and up) */@media (min-width: 992px) {

    #porto2{
        margin-right: 1%;
        margin-left: 10px;
        margin-top: 20px;
        width: 140px;
    }
    
    #menu ul li a {
        margin-left: 15px;
        margin-bottom: 17px;
        font-size: 20px;
        color: #FFF;
        padding: 20px;
    }
    .div1 {
        margin-top: 50px;
    }
    #img1 {
        width: 110%;
    }

 }

  /* Extra large devices (large laptops and desktops, 1200px and up) */@media (min-width: 1200px) {
    #porto2{
        margin-right: 4%;
        
    }
  }
  

